@model dynamic
@{
    ViewBag.Title = "Send Email";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
    var schoolImage = @System.Configuration.ConfigurationManager.AppSettings["SchoolImage"];

}   
<br />
<br />
<br /><br />

<div class="container-fluid center">
    <div class="row">
        <div class="col-md-6 col-lg-5 login-form mx-auto float-none">

            <!--Form with header-->
            <div class="card">
                <div class="card-block">

                    <!--Header-->
                    <div class="form-header">
                      
                    </div>

                    <!--Body-->
              
                </div>
                
                
                <div class="media s-container">
                    <div class="media-left">
                       
                    </div>
                    <div class="media-body">
                        <div class="panel panel-default">
                            <div class="panel-body">
                                <p>
                                    <h2><b>You have Registered Successfully, </b>
                                        <br/>
                                        Kindly Click on the Activation link sent to your Email to complete the registration</h2>
 
                                </p>                            </div>
                        </div>
                    </div>
                </div>


            </div>
            <!--/Form with header-->

        </div>
    </div>
</div>

