@model CodedenimWebApp.ViewModels.CourseVm

@{
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

@using (Html.BeginForm("ExcelUpload", "Courses", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <div class="form-group pull-right">
        <legend><h4><b>Upload Course</b></h4></legend>
        <div class="col-md-12">
            <input class=" form-control" type="file" name="excelfile" />
            <input class=" btn btn-success" type="submit" value="Submit" />
        </div>
    </div>
}
<br/>
<!-- // END Tabbable Widget -->
@*<h4 class="page-section-heading">Upload Courses</h4>*@


<!-- Tabbable Widget -->
<div class="tabbable tabs-primary">
    <!-- Tabs -->
    <ul class="nav nav-tabs">
        <li class="active"><a href="#color-home" data-toggle="tab"><i class="fa fa-fw fa-home"></i>Create Course</a></li>
        
    </ul>
    <!-- // END Tabs -->
    <!-- Panes -->
    <div class="tab-content">
        <div id="color-home" class="tab-pane active">
                @Html.Partial("CreateCoursePartial")
        </div>
      
    </div>
    <!-- // END Panes -->
</div>
<!-- // END Tabbable Widget -->







<script type="text/javascript">
    $(document).ready(function () {
        $('.datepicker').datepicker(
            {
                dateFormat: "dd/M/yy",
                changeMonth: true,
                changeYear: true,
                yearRange: "-60:+0"
            }
        );

    });
</script> 