
@{
    ViewBag.Title = "NotExist";
    Layout = "~/Views/Shared/_GeneralLayout.cshtml";

}

<div style=" margin-top:4em;" class="container-fluid  mt-6">
    <div class="row">
        <div class=" alert alert-danger boxed col-md-8">
        <div class="col-md-7">
            <h2 class="tmargin50 text-black text-h1">OOps!!!!! <br> </h2>
            <h2 class="tmargin50 text-black text-h1"><strong>Hello</strong> The TutorID Does Not Exist In Codenim Database <br> </h2>
            <p class="tmargin50">
              Something Went Wrong
            </p>

        </div>

                
                    <div class="text-danger"> <a href="#" class="btn btn-xs btn-danger pull-right">Go Back</a></div>
                    
             
        </div>
     
    </div>
</div>



