
@{
    ViewBag.Title = "Error2";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>Excel Error</h2>

<div class="alert-danger">
    Error Encountered while uploading Excel...Please make sure that the excel file is formated correctly
</div>
