@model CodedenimWebApp.ViewModels.CourseContentVm

@{
    ViewBag.Title = "MyDetails";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<h2>MyDetails</h2>


<div class="panel-body text-center" id="loadTopicContent">
    <div class="row">

        @foreach (var material in Model.Materials)
        {
            <div class="panel-footer col-md-3" id="topicContents">
                <div class="text-left">

                    <div id="topicContents">
                        <div onclick="loadContent(@material.TopicMaterialUploadId)">
                            <button class="btn btn-success btn-lg paper-shadow relative" data-z="1" data-hover-z="2" data-animated>
                                @material.FileType
                            </button>
                        </div>

                    </div>
                </div>
            </div>
        }


    </div>
</div>

<div class="media media-grid media-clearfix-xs">
    <div class="media-body">
        <div class="row">
           
            <div class=" paragraph-inline">
                <div class="embed-responsive embed-responsive-16by9">
                   
                </div>
            </div>
            @*<br />
                <br />
                <br />
                <br />
                <br />
                <br />
                <br />*@

            <div class="col-md-12">
                <div class="page-section" id="MaterialContent">
                    <div class="page-section">
                        <h2 class="text-headline margin-none">Course Introduction</h2>
                        <p class="text-subhead text-light"> </p>
                        <ul class="list-group relative paper-shadow margin-none" data-hover-z="0.5" data-animated>

                            <li class="list-group-item paper-shadow">

                                <div class="media-body text-body-2">
                                    <video controls="controls" id="video1" width="600">
                                        <source src="~/MaterialUpload/@Model.CourseVideo" type="video/mp4">
                                        Your browser does not support HTML5 video.
                                    </video>
                                </div>

                            </li>
                            <li class="list-group-item paper-shadow">
                                <div class="media v-middle">
                                    <div class="media-left">
                                        <div class="icon-block s30 bg-grey-500 text-white img-circle">
                                            <i class="fa fa-check"></i>
                                        </div>
                                    </div>
                                    <div class="media-body text-body-2">
                                        To Start Course Click on the Module Section and then choose the content type at the top of the page.
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="page-section">

        </div>
        <div class="pull-right">

        </div>

        <br />

    </div>
    @*<div class="media-right">
            <div class="page-section width-270 width-auto-xs">

                <!-- .panel -->
                <div class="panel panel-default paper-shadow" data-z="0.5" data-hover-z="1" data-animated>
                    <div class="panel-body">
                        <h4 class="text-headline">Modules</h4>
                    </div>
                    <ul class="list-group">
                        @foreach (var item in Model.Modules)
                        {
                            <li class="list-group-item">
                                @foreach (var topicContent in item.Topics.Where(x => x.ModuleId.Equals(item.ModuleId)))
                                {
                                    <div class="media v-middle">
                                        <div class="media-left">
                                            <div class="icon-block s30 bg-grey-400 text-white">
                                                <i class="fa fa-mortar-board"></i>
                                            </div>
                                        </div>
                                        <div class="media-body">
                                            <a onclick="material(@topicContent.TopicId)" class="link-text-color">@item.ModuleName</a>
                                        </div>
                                    </div>
                                }
                            </li>
                        }
                    </ul>
                </div>
                <!-- // END .panel -->
            </div>
            <!-- // END .page-section -->
        </div>*@
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {



    });

    function loadContent(contentId) {
        $('#MaterialContent').load("/TopicMaterialUploads/DetailsContent/" + contentId)
            .addClass('animated fadeInLeft')
            .delay(1000)
            .queue(function () {
                $(this).removeClass('animated fadeInLeft').dequeue()
            });
    }
    function material(topicId) {

        $('#loadTopicContent').load("/TopicMaterialUploads/SideBarContentForMaterial/" + topicId)
            .addClass('animated fadeInLeft')
            .delay(1000)
            .queue(function () {
                $(this).removeClass('animated fadeInLeft').dequeue()
            });
        //$(this).addClass('on').delay(500).queue(function() {
        //    $(this).removeClass('on').dequeue()});
    }


</script>
<script>
    var myVideo = document.getElementById("video1");

    function playPause() {
        if (myVideo.paused)
            myVideo.play();
        else
            myVideo.pause();
    }

    function makeBig() {
        myVideo.width = 560;
    }

    function makeSmall() {
        myVideo.width = 320;
    }

    function makeNormal() {
        myVideo.width = 420;
    }
</script>